.alert
  border-radius $border-radius
  background-color $default-color
  padding 1rem 1.25rem
  &.danger
    background-color $danger-color
    color: $grey-0
  &.success
    background-color $success-color
    color: $grey-0
