.container
  max-width $container-max-width
  width 100%
  margin-left auto
  margin-right auto

  &-internal
    max-width $container-internal-max-width
    width 100%
    margin-left auto
    margin-right auto
