.layout
  display flex
  justify-content center
  flex-flow row wrap
  flex 1
  
  &-nav
    flex 1
    margin-right auto
  
  &-central
    align-self stretch
    margin-left 1.5rem
    margin-right 1.5rem
  
  &-aside
    flex 1
    margin-left auto

.content
  background-color $grey-0
  border-radius $border-radius
  padding 1.25rem 1.75rem
  height 100%
