// Цвета
// Монохромная палитра.
$grey-0 = #fff
$grey-1 = #f6f7f9
$grey-2 = #dce0e7
$grey-3 = #b9c2cf
$grey-4 = #9facbd
$grey-5 = #838d9b
$grey-6 = #575e68
$grey-7 = #3a3f45
$grey-8 = #0f1012
// Основные цвета.
$default-color = $grey-4
$inverse-color = $grey-8
$primary-color = #587291
$info-color    = #00a6ed
$success-color = #76ca02
$warning-color = #ffb400
$danger-color  = #f6511d

// Контейнер.
$container-max-width = 1440px
$container-internal-max-width = $container-max-width / 2

// Настройки оформления.
// Фон.
$body-bg-start = #e8ebee
$body-bg-end   = #fff
// Текст.
$text-color    = $grey-6
$font-family   = "PT Sans", sans-serif
// Тень.
$box-shadow    = rgba($grey-6, 10%)
// Закругления.
$border-radius = 4px

// Шапка.
$header-height = 70px
// Левое меню
$left-menu-width = 150px

